<div>
     <a class="volver" href="/movies">Volver</a>
     
  
 
    <div id="container-seemore">
        <img src="{{this.verMas.image}}" width="200px" alt="pelis">
    </div>
  <div id="container-description">
    <h3>{{this.verMas.title}}</h3>
    <h3>Director:</h3><h4>{{this.verMas.director}}</h4>
    <h3>Stars</h3>
    {{#each this.verMas.stars}}
      <li>{{this}}</li>
    {{/each}}
    <h4>{{this.verMas.description}}</h4>
    <h4>{{this.verMas.showtimes}}</h4>

  </div>

</div>